# Ignorar entornos virtuales locales
venv/
.venv/
env/
ENV/

# Cosas de sistema
_pycache_/
*.pyc
*.pyo
*.pyd

# Archivos de control
.git
.gitignore
Dockerfile
.dockerignore

# Otros innecesarios
*.log